{{ define "default/index.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>

    {{template "public/page_header.html" .}}

    <img src="/static/image/ghost2.jpg" alt="">

    <h2>{{.title}}</h2>

    <!-- 定义变量 -->
    {{$t := .title}}

    <!-- 移除空格 -->
    {{- .msg -}}--{{- .msg -}}

    <!-- <br>标签换行符 -->
    <br>
    <h4>
        {{$t}}
    </h4>

    <br>
    <!-- 条件判断 -->
    {{if ge .score 60}}
        <p>及格</p>
    {{else}}
        <p>不及格</p>
    {{end}}

    {{if ge .score 90}}
        <p>优秀</p>
    {{else if ge .score 80}}
        <p>良好</p>
    {{else if ge .score 60}}
        <p>及格</p>
    {{else}}
        <p>不及格</p>
    {{end}}


    <!-- 循环遍历数据 -->
    <ul>
        {{range $key,$value := .hobby}}
            <li>{{$key}}---{{$value}}</li>
        {{end}}
    </ul>

    <br>

    <ul>
        {{range $key,$value := .newsList}}
            <li>{{$key}}---{{$value.Title}}---{{$value.Content}}</li>
        {{end}}
    </ul>

    <br>

    <ul>
        {{range $key,$value := .testSlice}}
            <li>{{$key}}---{{$value}}</li>
        {{else}}
            <li>数组里没有数据</li>
        {{end}}
    </ul>

    <!-- with解构结构体 -->
    <p>{{.news.Title}}</p>
    <p>{{.news.Content}}</p>

    <br>

    {{with .news}}
        <p>{{.Title}}</p>
        <p>{{.Content}}</p>
    {{end}}


    <!-- 预定义函数 -->
    {{len .title}}

    <!-- 自定义模板函数 -->
    {{.date}}

    <br>
    {{UnixToTime .date}}

    <br>
    {{Println .title .msg}}

    <br>
    {{template "public/page_footer.html" .}}
    
</body>
</html>
{{end}}